@import "../../assets/styles/variables";

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  height: 60px;
  padding: 0 30px;
  border-bottom: 1px solid #eee;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  transition: 0.3s;
  z-index: 9;
  &.hasOffset {
    padding-left: calc(#{$aside} + 30px);
    @media only screen and (max-width: 600px) {
      padding-left: 0;
    }
  }
  .user {
    img {
      width: 35px;
      height: 35px;
      border-radius: 50px;
      margin-right: 10px;
    }
    span {
      font-size: 15px;
      font-weight: 500;
    }
  }
  .toggler {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    transform: rotate(180deg);
    transition: 0.3s;
    svg {
      g [fill] {
        fill: #494b74;
        transition: 0.3s;
      }
    }
    &--open {
      transform: rotate(0);
    }
  }
}
